@font-face {
    font-family: "Poppins-Light", Verdana, Helvetica, sans-serif;
}
body {
    font-family: "Poppins";
    background-color: rgba(239, 239, 239, 1);
    padding: 0;
    margin: 0;
}
section {
    margin-top: 10em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-weight: 500;
}
/*Barre d'ajout d'un argonaute*/
input {
    background-color: rgba(222, 222, 222, 1);
    width: 40em;
    height: 2em;
    margin-top: 1em;
    border: 1px solid rgba(164, 164, 164, 1);
}
button {
    background-color: rgba(239, 239, 239, 1);
    width: 10em;
    height: 2em;
    margin: 4em 0 5em;
    border: 1px solid rgba(247, 108, 108, 1);
    border-radius: 50px;
}
button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(247, 108, 108, 1);
}
.label {
    margin-top: 2em;
}
/*Style de la liste*/
.list {
    margin-left: 8em;
    display: flex;
    flex-wrap: wrap;
}
.list__card  {
    width: 32em;
    color: rgba(247, 108, 108, 1);
}